x-custom-image: &custom_image
  image: ghcr.io/jemmia-diamond/jemmia_erp:latest
  pull_policy: ${PULL_POLICY:-always}
  deploy:
    restart_policy:
      condition: always

services:
  configurator:
    <<: *custom_image
    networks:
      - frappe_network
    deploy:
      restart_policy:
        condition: none
    entrypoint:
      - bash
      - -c
    command:
      - >
        ls -1 apps > sites/apps.txt;
        bench set-config -g db_host $$DB_HOST;
        bench set-config -gp db_port $$DB_PORT;
        bench set-config -g redis_cache "redis://$$REDIS_CACHE";
        bench set-config -g redis_queue "redis://$$REDIS_QUEUE";
        bench set-config -g redis_socketio "redis://$$REDIS_QUEUE";
        bench set-config -gp socketio_port $$SOCKETIO_PORT;
        bench set-config -g ai_hub_url $$AI_HUB_URL;
        bench set-config -g ai_hub_access_token $$AI_HUB_ACCESS_TOKEN;
        bench set-config -g ai_hub_webhook $$AI_HUB_WEBHOOK;
        bench set-config -g default_mail_lead_owner $$DEFAULT_MAIL_LEAD_OWNER;
        bench set-config -g stringee_api_key_sid $$STRINGEE_API_KEY_SID;
        bench set-config -g stringee_api_key_secret $$STRINGEE_API_KEY_SECRET;
        bench set-config -g fn_base_url $$FN_BASE_URL;
        bench set-config -g fn_bearer_token $$FN_BEARER_TOKEN;
        bench set-config -g priority_bearer_token $$PRIORITY_BEARER_TOKEN;
        bench set-config -g priority_base_url $$PRIORITY_BASE_URL;
        bench set-config -g r2_enabled ${R2_ENABLED};
        bench set-config -g r2_endpoint_url ${R2_ENDPOINT_URL};
        bench set-config -g r2_access_key_id ${R2_ACCESS_KEY_ID};
        bench set-config -g r2_secret_access_key ${R2_SECRET_ACCESS_KEY};
        bench set-config -g r2_bucket ${R2_BUCKET};
    environment:
      DB_HOST: ${DB_HOST:-db}
      DB_PORT: ${DB_PORT:-3306}
      REDIS_CACHE: redis-cache:6379
      REDIS_QUEUE: redis-queue:6379
      SOCKETIO_PORT: "9000"
      AI_HUB_URL: ${AI_HUB_URL}
      AI_HUB_ACCESS_TOKEN: ${AI_HUB_ACCESS_TOKEN}
      AI_HUB_WEBHOOK: ${AI_HUB_WEBHOOK}
      DEFAULT_MAIL_LEAD_OWNER: ${DEFAULT_MAIL_LEAD_OWNER}
      STRINGEE_API_KEY_SID: ${STRINGEE_API_KEY_SID}
      STRINGEE_API_KEY_SECRET: ${STRINGEE_API_KEY_SECRET}
      FN_BASE_URL: ${FN_BASE_URL}
      FN_BEARER_TOKEN: ${FN_BEARER_TOKEN}
      PRIORITY_BEARER_TOKEN: ${PRIORITY_BEARER_TOKEN}
      PRIORITY_BASE_URL: ${PRIORITY_BASE_URL}
      R2_ENABLED: ${R2_ENABLED}
      R2_ENDPOINT_URL: ${R2_ENDPOINT_URL}
      R2_ACCESS_KEY_ID: ${R2_ACCESS_KEY_ID}
      R2_SECRET_ACCESS_KEY: ${R2_SECRET_ACCESS_KEY}
      R2_BUCKET: ${R2_BUCKET}
      FRAPPE_SENTRY_DSN: ${FRAPPE_SENTRY_DSN}
      FRAPPE_SEENABLE_SENTRY_DB_MONITORINGNTRY_DSN: ${ENABLE_SENTRY_DB_MONITORING}
      SENTRY_TRACING_SAMPLE_RATE: ${SENTRY_TRACING_SAMPLE_RATE}
      SENTRY_PROFILING_SAMPLE_RATE: ${SENTRY_PROFILING_SAMPLE_RATE}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT}
      SENTRY_MAX_BREADCRUMBS: ${SENTRY_MAX_BREADCRUMBS}
      SENTRY_ATTACH_STACKTRACE: ${SENTRY_ATTACH_STACKTRACE}
      SENTRY_SEND_DEFAULT_PII: ${SENTRY_SEND_DEFAULT_PII}
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  backend:
    <<: *custom_image
    networks:
      - frappe_network
    depends_on:
      configurator:
        condition: service_completed_successfully
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - bash
      - -c
      - |
        /home/frappe/frappe-bench/env/bin/pip install 'setuptools==69.5.1' && \
        /home/frappe/frappe-bench/env/bin/gunicorn \
          --chdir=/home/frappe/frappe-bench/sites \
          --bind=0.0.0.0:8000 \
          --threads=4 \
          --workers=2 \
          --worker-class=gthread \
          --worker-tmp-dir=/dev/shm \
          --timeout=120 \
          --preload \
          frappe.app:application
    environment:
      FRAPPE_SENTRY_DSN: ${FRAPPE_SENTRY_DSN}
      FRAPPE_SEENABLE_SENTRY_DB_MONITORINGNTRY_DSN: ${ENABLE_SENTRY_DB_MONITORING}
      SENTRY_TRACING_SAMPLE_RATE: ${SENTRY_TRACING_SAMPLE_RATE}
      SENTRY_PROFILING_SAMPLE_RATE: ${SENTRY_PROFILING_SAMPLE_RATE}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT}
      SENTRY_MAX_BREADCRUMBS: ${SENTRY_MAX_BREADCRUMBS}
      SENTRY_ATTACH_STACKTRACE: ${SENTRY_ATTACH_STACKTRACE}
      SENTRY_SEND_DEFAULT_PII: ${SENTRY_SEND_DEFAULT_PII}
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  frontend:
    <<: *custom_image
    networks:
      - frappe_network
    depends_on:
      backend:
        condition: service_started
      websocket:
        condition: service_started
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - nginx-entrypoint.sh
    environment:
      BACKEND: backend:8000
      FRAPPE_SITE_NAME_HEADER: ${SITE_NAME}
      SOCKETIO: websocket:9000
      UPSTREAM_REAL_IP_ADDRESS: 127.0.0.1
      UPSTREAM_REAL_IP_HEADER: X-Forwarded-For
      UPSTREAM_REAL_IP_RECURSIVE: "off"
      PROXY_READ_TIMEOUT: 120
      CLIENT_MAX_BODY_SIZE: 50m
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    ports:
      - "8080:8080"

  create-site:
    <<: *custom_image
    networks:
      - frappe_network
    deploy:
      restart_policy:
        condition: none
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs
    entrypoint:
      - bash
      - -c
    command:
      - >
        wait-for-it -t 120 $${DB_HOST}:$${DB_PORT};
        wait-for-it -t 120 redis-cache:6379;
        wait-for-it -t 120 redis-queue:6379;
        export start=`date +%s`;
        until [[ -n `grep -hs ^ sites/common_site_config.json | jq -r ".db_host // empty"` ]] && \
          [[ -n `grep -hs ^ sites/common_site_config.json | jq -r ".redis_cache // empty"` ]] && \
          [[ -n `grep -hs ^ sites/common_site_config.json | jq -r ".redis_queue // empty"` ]];
        do
          echo "Waiting for sites/common_site_config.json to be created";
          sleep 5;
          if (( `date +%s`-start > 120 )); then
            echo "could not find sites/common_site_config.json with required keys";
            exit 1
          fi
        done;
        echo "sites/common_site_config.json found";
        [[ -d "sites/$${SITE_NAME}" ]] && echo "Site already exists" && exit 0;
        bench new-site --mariadb-user-host-login-scope='%' --admin-password=$${ADMIN_PASSWORD} --db-root-username=$${DB_ROOT_USERNAME} --db-root-password=$${DB_ROOT_PASSWORD} --db-port=$${DB_PORT} --install-app erpnext --set-default $${SITE_NAME};
    environment:
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      DB_ROOT_USERNAME: ${DB_ROOT_USERNAME}
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      DB_PORT: ${DB_PORT:-3306}
      DB_HOST: ${DB_HOST:-db}
      SITE_NAME: ${SITE_NAME}

  migration:
    <<: *custom_image
    deploy:
      mode: replicated
      replicas: ${MIGRATE:-0}
      restart_policy:
        condition: none
    entrypoint: ["bash", "-c"]
    command:
      - >
        bench --site all set-config -p maintenance_mode 1;
        bench --site all set-config -p pause_scheduler 1;
        bench --site all migrate;
        bench --site all clear-cache;
        bench --site all clear-website-cache;
        bench --site all set-config -p maintenance_mode 0;
        bench --site all set-config -p pause_scheduler 0;
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    networks:
      - frappe_network

  db:
    image: mariadb:10.6
    networks:
      - frappe_network
    healthcheck:
      test: mysqladmin ping -h localhost --password=$${MARIADB_ROOT_PASSWORD}
      interval: 1s
      retries: 20
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
      - --skip-innodb-read-only-compressed
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql

  queue-long:
    <<: *custom_image
    networks:
      - frappe_network
    depends_on:
      backend:
        condition: service_started
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - bash
      - -c
      - |
        /home/frappe/frappe-bench/env/bin/pip install 'setuptools==69.5.1' && \
        bench worker --queue long,default,short
    environment:
      FRAPPE_SENTRY_DSN: ${FRAPPE_SENTRY_DSN}
      FRAPPE_SEENABLE_SENTRY_DB_MONITORINGNTRY_DSN: ${ENABLE_SENTRY_DB_MONITORING}
      SENTRY_TRACING_SAMPLE_RATE: ${SENTRY_TRACING_SAMPLE_RATE}
      SENTRY_PROFILING_SAMPLE_RATE: ${SENTRY_PROFILING_SAMPLE_RATE}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT}
      SENTRY_MAX_BREADCRUMBS: ${SENTRY_MAX_BREADCRUMBS}
      SENTRY_ATTACH_STACKTRACE: ${SENTRY_ATTACH_STACKTRACE}
      SENTRY_SEND_DEFAULT_PII: ${SENTRY_SEND_DEFAULT_PII}
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  queue-short:
    <<: *custom_image
    networks:
      - frappe_network
    depends_on:
      backend:
        condition: service_started
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - bash
      - -c
      - |
        /home/frappe/frappe-bench/env/bin/pip install 'setuptools==69.5.1' && \
        bench worker --queue short,default
    environment:
      FRAPPE_SENTRY_DSN: ${FRAPPE_SENTRY_DSN}
      FRAPPE_SEENABLE_SENTRY_DB_MONITORINGNTRY_DSN: ${ENABLE_SENTRY_DB_MONITORING}
      SENTRY_TRACING_SAMPLE_RATE: ${SENTRY_TRACING_SAMPLE_RATE}
      SENTRY_PROFILING_SAMPLE_RATE: ${SENTRY_PROFILING_SAMPLE_RATE}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT}
      SENTRY_MAX_BREADCRUMBS: ${SENTRY_MAX_BREADCRUMBS}
      SENTRY_ATTACH_STACKTRACE: ${SENTRY_ATTACH_STACKTRACE}
      SENTRY_SEND_DEFAULT_PII: ${SENTRY_SEND_DEFAULT_PII}
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  redis-queue:
    image: redis:6.2-alpine
    networks:
      - frappe_network
    deploy:
      restart_policy:
        condition: on-failure
    volumes:
      - redis-queue-data:/data

  redis-cache:
    image: redis:6.2-alpine
    networks:
      - frappe_network
    deploy:
      restart_policy:
        condition: on-failure

  scheduler:
    <<: *custom_image
    networks:
      - frappe_network
    depends_on:
      backend:
        condition: service_started
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - bash
      - -c
      - |
        /home/frappe/frappe-bench/env/bin/pip install 'setuptools==69.5.1' && \
        bench schedule
    environment:
      FRAPPE_SENTRY_DSN: ${FRAPPE_SENTRY_DSN}
      FRAPPE_SEENABLE_SENTRY_DB_MONITORINGNTRY_DSN: ${ENABLE_SENTRY_DB_MONITORING}
      SENTRY_TRACING_SAMPLE_RATE: ${SENTRY_TRACING_SAMPLE_RATE}
      SENTRY_PROFILING_SAMPLE_RATE: ${SENTRY_PROFILING_SAMPLE_RATE}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT}
      SENTRY_MAX_BREADCRUMBS: ${SENTRY_MAX_BREADCRUMBS}
      SENTRY_ATTACH_STACKTRACE: ${SENTRY_ATTACH_STACKTRACE}
      SENTRY_SEND_DEFAULT_PII: ${SENTRY_SEND_DEFAULT_PII}
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  websocket:
    <<: *custom_image
    networks:
      - frappe_network
    depends_on:
      configurator:
        condition: service_completed_successfully
    deploy:
      restart_policy:
        condition: on-failure
    command:
      - node
      - /home/frappe/frappe-bench/apps/frappe/socketio.js
    environment:
      FRAPPE_SENTRY_DSN: ${FRAPPE_SENTRY_DSN}
      FRAPPE_SEENABLE_SENTRY_DB_MONITORINGNTRY_DSN: ${ENABLE_SENTRY_DB_MONITORING}
      SENTRY_TRACING_SAMPLE_RATE: ${SENTRY_TRACING_SAMPLE_RATE}
      SENTRY_PROFILING_SAMPLE_RATE: ${SENTRY_PROFILING_SAMPLE_RATE}
      SENTRY_ENVIRONMENT: ${SENTRY_ENVIRONMENT}
      SENTRY_MAX_BREADCRUMBS: ${SENTRY_MAX_BREADCRUMBS}
      SENTRY_ATTACH_STACKTRACE: ${SENTRY_ATTACH_STACKTRACE}
      SENTRY_SEND_DEFAULT_PII: ${SENTRY_SEND_DEFAULT_PII}
    volumes:
      - sites:/home/frappe/frappe-bench/sites
      - logs:/home/frappe/frappe-bench/logs

  post-deploy:
    image: docker:cli
    networks:
      - frappe_network
    depends_on:
      frontend:
        condition: service_started
      backend:
        condition: service_started
    deploy:
      restart_policy:
        condition: none
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        sleep 10
        docker exec erp-appcompose-db5qnm-frontend-1 sh -c "mkdir -p sites/shared && rm -f sites/assets/assets.json && bench build --force && cp sites/assets/assets.json sites/shared/assets.json"
        docker exec erp-appcompose-db5qnm-backend-1 sh -c "cp sites/shared/assets.json sites/assets/assets.json"
        docker exec erp-appcompose-db5qnm-redis-cache-1 redis-cli FLUSHALL

volumes:
  db-data:
  redis-queue-data:
  sites:
  logs:

networks:
  frappe_network:
    driver: bridge
